:root{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
* {
    padding: 0;
    margin: 0;
}

.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    font-weight: 700;
    background-color: #2c3e50 !important;
    width: 100%;
    position: fixed;
}
.navbar .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
    color: #fff;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    text-decoration: none;
    cursor: pointer;
}
.navbar .collapse {
    justify-content: flex-end;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    border-radius: 0.5rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-size: 16px;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #1abc9c;
}
.navbar .navbar-nav .nav-item .nav-link.active {
    background-color: #1abc9c;
}

.header {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
    background-color: #1abc9c;
}
.header .div {
    text-align: center;
}
.header .div img {
    width: 15rem;
    padding-bottom: 2rem;
}
.header .div .h1 {
    font-size: 4rem;
    line-height: 3.5rem;
    font-weight: 700;
    color: #fff;
}
.header .div .line {
    background-color: #fff;
    max-width: 7rem;
    width: 100%;
    height: 0.25rem;
    border-radius: 1rem;
}
.header .div i {
    color: #fff;
    font-size: 2rem;
}
.header .div .p {
    font-size: 1.5rem;
    color: #fff;
}

.portfolio {
    text-align: center;
}
.portfolio .h2 {
    font-size: 3rem;
    line-height: 2.5rem;
    color: #2c3e50;
    font-weight: 700;
}
.portfolio .line {
    background-color: #2c3e50;
    max-width: 7rem;
    width: 100%;
    height: 0.25rem;
    border-radius: 1rem;
}
.portfolio i {
    color: #2c3e50;
    font-size: 2rem;
}
.portfolio .container .row div img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.portfolio .container .row div {
    position: relative;
}
.portfolio .container .row div .overflow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 11px;
    left: 11px;
    background-color: rgba(26, 188, 156, 0.8);
    border-radius: 10px;
    display: none;
    transition: all 0.2s ease-in-out;
}
.portfolio .container .row div .overflow i {
    font-size: 4rem;
    color: #fff;
}
.portfolio .container .row div img:hover .overflow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    background-color: #1abc9c;
    color: #fff;
}
.about .container1 {
    width: 60%;
    margin: auto;
}
.about .container1 .h2 {
    font-size: 3rem;
    line-height: 2.5rem;
    color: #fff;
    font-weight: 700;
}
.about .container1 .line {
    background-color: #fff;
    max-width: 7rem;
    width: 100%;
    height: 0.25rem;
    border-radius: 1rem;
}
.about .container1 i {
    color: #fff;
    font-size: 2rem;
}
.about .container1 .row .p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
.about .container1 a {
    border-radius: 8px;
    border: 2px solid #fff;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}
.about .container1 a i {
    font-size: 1.5rem;
}
.about .container1 a:hover {
    background-color: #fff;
    color: black;
}
.about .container1 a:hover i {
    color: black;
}

.contact .h2 {
    font-size: 3rem;
    line-height: 2.5rem;
    color: #2c3e50;
    font-weight: 700;
}
.contact .line {
    background-color: #2c3e50;
    max-width: 7rem;
    width: 100%;
    height: 0.25rem;
    border-radius: 1rem;
}
.contact i {
    color: #2c3e50;
    font-size: 2rem;
}
.contact .container .message input ,.contact .container .message textarea {
    font-size: 1.5rem;
    font-weight: 400;
    color: #6c757d;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    border: 0.125rem solid transparent;
    border-bottom: 1px solid #6c757d;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.contact .container .message input {
    padding: 0.5rem 0.5rem;
}
.contact .container .message textarea {
    padding: 1.5rem 0.5rem;
    margin-bottom: 10px;
}
.contact .container .message input:focus ,.contact .container .message textarea:focus {
    border: none;
    border-bottom: 1px solid #1abc9c;
}
.contact .container .message a {
    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;
    background-color: #1abc9c;
    width: fit-content;
    border-radius: 8px;
    text-decoration: none;
    margin-left: 90px;
    opacity: 0.5;
}

.footer {
    color: #fff;
}
.footer .footer1 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
}
.footer .footer1 .container .row .h3 {
    font-size: calc(1.275rem + 0.3vw);
    font-weight: 700;
    line-height: 1.2;
}
.footer .footer1 .container .row .p {
    font-size: 1.25rem;
    font-weight: 300;
}
.footer .footer1 .container .row .p a {
    color: #1abc9c;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}
.footer .footer1 .container .row .p a:hover {
    color: #15967d;
}
.footer .footer1 .container .row .link {
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
    border: 2px solid #fff;
}
.footer .footer1 .container .row .link:hover {
    color: black;
    background-color: #fff;
}
.footer .footer2 {
    text-align: center;
    font-size: 0.875em;
    font-weight: 400;
    background-color: #1a252f;
    color: #fff;
}